{% extends 'layouts/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 text-center mb-5">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ description }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Décision Simple</h5>
                <p class="card-text">Prenez des décisions basées sur des critères simples et directs.</p>
                <a href="#" class="btn btn-primary">Commencer</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Décision Complexe</h5>
                <p class="card-text">Analysez des situations complexes avec des critères multiples.</p>
                <a href="#" class="btn btn-primary">Commencer</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Historique</h5>
                <p class="card-text">Consultez vos décisions précédentes et leurs résultats.</p>
                <a href="#" class="btn btn-primary">Voir l'historique</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Comment ça marche ?</h5>
                <p class="card-text">Notre outil vous guide à travers un processus de décision structuré :</p>
                <ol>
                    <li>Définissez votre question ou problème</li>
                    <li>Identifiez les critères importants</li>
                    <li>Évaluez les options disponibles</li>
                    <li>Obtenez une recommandation basée sur vos critères</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
